.mat-mdc-button-base {
  margin: 8px 8px 0px 0;
}

.funcionario-box {
  width: 100%;
  gap: 15px;
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
  /* CORREÇÃO: 'left' alterado para 'flex-start' para o botão não esticar */
  align-items: flex-start;
  margin-bottom: 2rem;
}

/* NOVA REGRA: Força a tabela a esticar até o final do card */
table {
  width: 100%;
}
